.title {
    font-family: "Arial";
    font-size: 1.5em;
}

.choices {
    margin-top: 2em;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }

  .choices li {
    font-family: "Arial";
    font-size: 1.5em;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin-bottom: 0.5em;
    padding: .3em 0;
    height: 3em;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
  }

  .choices li.incorrect {
    background-color: #0852a0;
    color: rgb(255,255,255);
  }

  .choices li.correct {
    background-color: #e0ca14;
  }