.header {
    font-size: 1.25em;
}

.tip {
    visibility: hidden;
}

div {
    text-align: center;
}

.tiptext {
    background-color: rgb(255,255,255);
    opacity: 0.95;
    font-size: 1em;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

#spinWheel {
    display: block;
    height: 100%;
    width: 100%;
}

@media screen and (orientation: landscape) {
    #wrapper {
        display: table-cell;
        vertical-align: middle;
        width: 50%;
        float: left;
    }

    #tipWrapper {
        width: 50%;
        float: right;
    }

    .tiptext {
        font-size: 2em;
    }

    #spinWheel {
        height: 80%;
        width: 80%;
    }
}