.title {
    font-family: "Arial";
    font-size: 2.5em;
}

.timer {
    font-family: "Arial";
    font-size: 5em;
}

.flowRate {
    font-size: 3em;
}

.water {
    font-size: 2.5em;
    float: left;
    width: 50%;
}

.coins {
    font-size: 2.5em;
    float: right;
    width: 50%;
}

.hide {
    display: none;
}

.resultTitle {
    font-family: "Arial";
    font-size: 2em;
}

.results {
    font-family: "Arial";
    font-size: 1.75em;
    padding: 20px;
    background-color: rgb(255,255,255);
    opacity: 0.9;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(0, 0, 0);
}

.results div {
    padding: 5px;
}

.resultsBar {
    position: absolute;
    bottom: 3px;
    display: table;
    width: 100%;
}

.left {
    display: table-cell;
    width: 50%;
}

.resultsBar div {
    
    font-family: "Arial";
    font-size: 1em;
    padding: 5px;
    
}

.right {
    display: table-cell;
    height: 100%;
}

.right {
    height: 100%;
}

.leaderboard {
    height: 100%;
    font-family: "Arial";
}