<!-- The video -->
<video playsinline autoplay muted loop id="portraitVideo" poster="assets/ShowerVertical.gif">
    <source src="assets/ShowerVertical.mp4" type="video/mp4">
</video>
<video playsinline autoplay muted loop id="landscapeVideo" poster="assets/Shower_V01.gif">
    <source src="assets/Shower_V01.mp4" type="video/mp4">
</video>
<div>
  <div class="fllLogo">
    <img height="128px" src="assets/FirstLegoLogo.png" />
  </div>
  <div class="hydroLogo">
    <img height="100px" src="assets/hydroLogo.png" />
  </div>
</div>
