<!--nav>
  <a routerLink='/splash' routerLinkActive='active'>Splash</a>
  <a routerLink='/home' routerLinkActive='active'>Home</a>
  <a routerLink='/leaderboard' routerLinkActive='active'>Leaderboard</a>
  <a routerLink='/stopwatch' routerLinkActive='active'>Stopwatch</a>
  <a routerLink='/quiz' routerLinkActive='active'>Quiz</a>
  <a routerLink='/profile' routerLinkActive='active'>Profile</a>
  <a routerLink='/tips' routerLinkActive='active'>Tips</a>
</nav-->
<div style="text-align:center">
  <router-outlet></router-outlet>
</div>

