.title {
    font-family: "Arial";
    font-size: 2.5em;
}

.actions {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }

  .actions li {
    cursor: pointer;
    position: relative;
    left: 0;
    margin: .5em;
    padding: .3em 0;
    height: 7em;
    border-radius: 4px;
  }

  @media screen and (orientation: portrait) {
    #landscapeList {
        display: none;
    }
  }
  
  @media screen and (orientation: landscape) {
      #portraitList {
          display: none;
      }
  }