<app-navbar></app-navbar>
<mat-card [style.opacity]="0.9">
  <mat-card-header>
    <mat-card-title>Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="Shower Nickname" [(ngModel)]="currentProfile.user.userName" id="userName" readonly>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Flow Rate (GPM)" [(ngModel)]="currentProfile.user.flowRate" id="flowRate"/>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Total Shower Coins Earned" [(ngModel)]="totalCoins" id="totalCoins" readonly/>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Coins earned in Last Week" [(ngModel)]="lastSevenCoins" id="lastSeven" readonly/>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Shower Level for Last Week" [(ngModel)]="level" id="level" readonly/>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="primary" (click)="saveProfile()">
        Save
      </button>
      <button mat-raised-button color="primary" (click)="howToMeasure()">How to Measure your Flow Rate</button>
  </mat-card-actions>
</mat-card>